<div class="page" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="title">
    This is a technical test for Managed 24/7
  </h1>

  <mat-divider></mat-divider>
  <br />

  <h1 class="title">Senior Javascript Technical Interview</h1>

  <h2 class="subheading">Deliverable:</h2>
  <p>
    Please create a repository/repositories on github and send us the link so we can
    checkout your work. You may use the readme file to explain your technical choices
    and eventually let us know what else you would have done if you had more time.
  </p>
  <h2 class="subheading">Instructions:</h2>
  <p>
  The goal of this exercise is to gauge your proficiency with the MEAN stack. You are
  free to spend as much time as you wish on the exercise, please just make sure you
  commit your changes as regularly as possible so we can judge fairly your work
  compared to other candidates.
  </p>
  <h2>Part 1 - Node / Express / MongoDB:</h2>
  <p>
  Create a node.js restful API with a single endpoint that given a search term returns
  a list of names that begin with that term. The query will be done against MongoDB.
  The endpoint must be secured.
  </p>
  <h2>Part 2 - Angular</h2>
  <p>
  Create an angular 2+ application that uses the node.js application you just created
  to list names. The application will also have a search box that will filter out the list
  based on the search.
  </p>
</div>
