<div class="page">
  <h1 class="title">{{title}}</h1>

  <app-names-autocomplete (namesEmitter)='setNames($event)'></app-names-autocomplete>

  <div id="names" fxLayout="row wrap" fxLayoutAlign="center center">
    <!-- old search filter pipe -->
    <!-- <div class="name" (click)="removeName(n)" *ngFor="let n of names | filterByName: searchTerm"> -->
    <!--   {{n.name}} -->
    <!-- </div> -->
    <div class="name" (click)="removeName(n)" *ngFor="let n of names">
      {{n.name}}
    </div>
  </div>

</div>
